*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}


.cronometro-div{
    background-color: rgb(12, 12, 12);
    width: 850px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

span{
    color: rgb(19, 160, 19);
    font-size: 90px;
}
.container{
    background-color: purple;
    width: 850px;
    height: 380px;
    display: flex;
    flex-direction: column;
    
}

.infos{
    width: 50%;
    height: 100%;
    margin-top: 20px;
}

#name1, #name2{
    font-size: 30px;
    margin-left:10px;
    margin-top: -10px;
    font-weight: bold;
}

#equipe1, #equipe2 {
    margin-left: 10px;
    margin-top: -15px;
    font-weight: normal;
}

.atleta1, .atleta2{
    width: 850px;
    height: 190px;
    display: flex;
    justify-content: end
}
.atleta1{
    background-color: white;
    border-right: 1px black solid; 
    box-sizing: border-box;
    color: black;
}

.atleta2{
    background-color: rgb(23, 119, 228);
    color: white;
  
}
.green, .yellow, .red{
    font-size: 135px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.green{
    background-color: rgb(5, 156, 81);
    width: 140px;
    height: 180px;
    margin-right: 4px;
}

.yellow{
    background-color: rgb(216, 216, 33);
    width: 140px;
    height: 180px;
    margin-right: 4px;
}

.red{
    background-color: rgb(233, 24, 24);
    width: 140px;
    height: 180px;
    margin-right: 4px;
}

#btnIniciar, #btnPausar, #btnZerar, #btnReiniciar{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px black solid;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(185, 180, 180);
    
}

button:hover{
    
    opacity: 0.8;
}